<div id="download-overlay" class="download-screen hidden">
  <div class="download-loader">
    <div class="scan-line"></div>
    <div class="download-icon">
      <svg viewBox="0 0 24 24" width="48">
        <path
          fill="#6366f1"
          d="M12,1L3,5V11C3,16.55 6.84,21.74 12,23C17.16,21.74 21,16.55 21,11V5L12,1M12,7L18,11V15H12V7Z"
        />
      </svg>
    </div>
    <div class="download-title">PREPARING DOCUMENT</div>
    <div class="download-status">SECURE DOWNLOAD IN PROGRESS</div>
  </div>
</div>
