<div class="header-container">
  <div class="name">{{name}}</div>
  <div class="job-title">{{title}}</div>
  <div class="contact-line">
    <a href="tel:{{phone}}">{{phone}}</a>
    &nbsp;|&nbsp;
    <a href="mailto:{{email}}">{{email}}</a>
    &nbsp;|&nbsp;
    {{location}}
  </div>
  <div class="contact-line">
    <a href="https://linkedin.com/in/{{linkedinId}}" target="_blank">linkedin.com/in/{{linkedinId}}</a>
    &nbsp;|&nbsp;
    <a href="https://{{portfolioUrl}}" target="_blank">{{portfolioUrl}}</a>
  </div>
</div>
